/* Navigation style start */
.tw-navigation .loginImage img{
    width: 30px;
}

.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler{
    border: none;
}
/* Navigation style end */



/* home image banner style start */
.tw-homeimg h1{
    font-weight: 600;
}

.tw-homeimg p{
    font-weight: 500;
}
/* home image banner style end */

